<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
 
  {% if user.is_authenticated %}
  <div class="row">
    <div class="col">
      <h1>Company Name : {{name}}</h1>
    </div>
    <div class="col">
      <h1>Stores : {{stores.count}}</h1>
    </div>
    <div class="col">
        <button id="download-button"  class="btn-primary m-2 ">
          export
        </button>
    </div>
  </div>
  
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Store</th>
          <th scope="col">Number Tools</th>
        </tr>
      </thead>
      <tbody>
        {%for store in stores%}
        <tr>
          <th scope="row"></th>
          <td><a href="/StoreStatistics/{{store.id}}-{{store.name}}" target="_blank">{{store.name}}</a></td>
          <td>{{store.numberTools}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    {%else%}
      <h1>You Dont Have Permission To View This Page Error:403</h1>
    {%endif%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      document.getElementById("download-button").addEventListener("click", function () {
        var html = document.querySelector("table").outerHTML;
        htmlToCSV(html, "Company {{name}}.csv");
      });
      function htmlToCSV(html, filename) {
          var data = [];
          var rows = document.querySelectorAll("table tr");
              
          for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");
                
            for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }
                    
            data.push(row.join(",")); 		
          }
  
          downloadCSVFile(data.join("\n"), filename);
        }
      function downloadCSVFile(csv, filename) {
          var csv_file, download_link;
  
          csv_file = new Blob([csv], {type: "text/csv"});
  
          download_link = document.createElement("a");
  
          download_link.download = filename;
  
          download_link.href = window.URL.createObjectURL(csv_file);
  
          download_link.style.display = "none";
  
          document.body.appendChild(download_link);
  
          download_link.click();
        }
    </script>
  </body>
</html>
