<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    {% if user.is_authenticated %}
    <div class="row">
      <div class="col">
        <h1>Store Name : {{object.name}}</h1>
      </div>
      <div class="col">
          <button id="download-button"  class="btn-primary m-2 ">
            export
          </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>ip : {{object.ip}}</h1>
      </div>
      <div class="col">
        <h1>mac : {{object.mac}}</h1>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <h1>ssid : {{object.ssid}}</h1>
        </div>
        <div class="col">
          <h1>store name : {{object.StoreID.name}}</h1>
        </div>
      </div>
    <div class="row">
      <div class="col">
        <h1>dataChanged : {{root_path}}</h1>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">mac</th>
            <th scope="col">ip</th>
            <th scope="col">ssid</th>
            <th scope="col">notes</th>
            <th scope="col">quantity</th>
            <th scope="col">store</th>
            <th scope="col">date</th>
            <th scope="col">user</th>
            <th scope="col">process</th>
            <th scope="col">changed</th>
        </tr>
      </thead>
      <tbody>
        {%for tool in action_list%}
        <tr>
            <td>{{tool.name}}</td>
            <td>{{tool.mac}}</td>
            <td>{{tool.ip}}</td>
            <td>{{tool.ssid}}</td>
            <td>{{tool.notes}}</td>
            <td>{{tool.quantity}}</td>
            <td>{{tool.StoreID.name}}</td>
            <td>{{tool.history_date}}</td>
            <td>{{tool.changed_by}}</td>
            <td>{{tool.history_type}}</td>
            <td>{{tool.history_change_reason}}</td>
            <!--<td><div class="btn btn-primary" onclick="deleteHistory('{{tool.history_id}}')">Delete</div></td>-->
        </tr>
        {%endfor%}
      </tbody>
    </table>

    {%else%}
    <h1>You Dont Have Permission To View This Page Error:403</h1>
    {%endif%}


    <script>
      function deleteHistory(id){
        alert(id)
      }
      document.getElementById("download-button").addEventListener("click", function () {
        var html = document.querySelector("table").outerHTML;
        htmlToCSV(html, "History Tool {{name}}.csv");
      });
      function htmlToCSV(html, filename) {
          var data = [];
          var rows = document.querySelectorAll("table tr");
              
          for (var i = 0; i < rows.length; i++) {
            var row = [], cols = rows[i].querySelectorAll("td, th");
                
            for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }
                    
            data.push(row.join(",")); 		
          }
  
          downloadCSVFile(data.join("\n"), filename);
        }
      function downloadCSVFile(csv, filename) {
          var csv_file, download_link;
  
          csv_file = new Blob([csv], {type: "text/csv"});
  
          download_link = document.createElement("a");
  
          download_link.download = filename;
  
          download_link.href = window.URL.createObjectURL(csv_file);
  
          download_link.style.display = "none";
  
          document.body.appendChild(download_link);
  
          download_link.click();
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
